<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>我的收藏</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angular-loading-bar/loading-bar.min.css">
  <link rel="stylesheet" href="css/app.css">

  <link rel="stylesheet" href="http://img.t.sinajs.cn/t5/style/css/module/combination/feed_function.css?version=03d689ae08050215">
  <link rel="stylesheet" href="http://img.t.sinajs.cn/t5/skin/skin048/skin.css?version=03d689ae08050215">
  <link rel="stylesheet" href="http://img.t.sinajs.cn/t5/style/css/module/base/frame.css?version=03d689ae08050215">
  <link rel="stylesheet" href="http://img.t.sinajs.cn/t5/style/css/patch/content/index.css?version=03d689ae08050215">
  <link rel="stylesheet" href="http://img.t.sinajs.cn/t5/style/css/module/global/WB_right_module.css?version=03d689ae08050215">
  <link rel="stylesheet" href="http://img.t.sinajs.cn/t5/style/css/module/list/activities_list.css?version=03d689ae08050215">
  <link rel="stylesheet" href="http://img.t.sinajs.cn/t5/style/css/module/global/WB_left_nav.css?version=03d689ae08050215">

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/jquery/jquery.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-loading-bar/loading-bar.min.js"></script>

  <script src="bower_components/angular-derective/lazyLoading.js"></script>
  <script src="js/fav_controllers.js"></script>
  <script src="js/weibo_act.js"></script>
    <style>
	.WB_feed .WB_detail{
		margin-top:20px;
		border:1px #aaa solid;
		padding:18px;
	}
	body{
		background-color:#eee;
		background-image:none;
	}
      	.container-fluid{
		padding-bottom:50px;
	}
    </style>
</head>
    <body ng-controller="PhoneListCtrl">

  <div class="container-fluid">
    <div class="row">
        <!--Sidebar content
      <div class="col-md-2">
      </div>--> 
      <div class="col-md-10">
        <!--Body content
          排序:
        <select ng-model="orderProp"> ?
          <option value="-zuone_piao">从多到少~</option>
          <option value="+zuone_piao">从少到多~</option>
        </select>&nbsp;&nbsp;
-->
          filter:
		<input ng-model="query">
        <div class="WB_feed">
            <div class="WB_feed_detail">
                <div ng-repeat="feed in feeds |filter:query" class="WB_detail">
                  <div class="WB_info" ng-bind-html="feed.user"></div>
                  <div ng-bind-html="feed.text"></div>
                  <div ng-bind-html="feed.media"></div>
                  <div ng-bind-html="feed.forward"></div>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
