<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <!--<title>长帝烘培节全部作品名单</title>-->
  <title>x</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angular-loading-bar/loading-bar.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/jquery.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-loading-bar/loading-bar.min.js"></script>

  <script src="bower_components/angular-derective/lazyLoading.ori.js"></script>
  <script src="bower_components/angular-paginate-anything/src/paginate-anything.js"></script>
  <script src="js/controllers.js"></script>
    <style>
        .winner_list span{
            margin-right:30px;
        }
        .winner_list p {
            margin-top:10px;
            padding-left:270px;
        }
    </style>
</head>
    <body ng-controller="PhoneListCtrl">

  <div class="container">
    <div class="row-fluid">
        <div class="span4 offset4">
              排序:
            <select ng-model="desc">
              <option value="true">从多到少~</option>
              <option value="false">从少到多~</option>
            </select>&nbsp;&nbsp;
              看看有没我>_<: <input ng-model="query">(可输入昵称或作品名查询)
        </div>
    </div>
        <!--Sidebar content
      <div class="col-md-2">
      </div>--> 
      <div class="col-md-10">
        <!--Body content-->
        <ul class="phones">
            <li ng-repeat="winner in winners |filter:query |orderBy:orderProp" class="winner_list">
                <!---->
<span>序号:{{$index+1}}</span>
              <span>票数:{{winner.zuone_piao}}</span>
              <span style="margin-right:3px"><img bn-lazy-src="{{winner.zuone_author_img}}"/></span>
              <span>{{winner.zuone_author_name}}</span>
              <span style="margin-right:3px">作品：</span>
              <span style="margin-right:5px"><a target="_blank" href="{{winner.zuone_url}}"><img width="80px" bn-lazy-src="{{winner.zuone_img}}"/></a></span>
              <span><a target="_blank" href="{{winner.zuone_url}}">{{winner.zuone_name}}</a></span>
              <p ng-repeat="other_zuone in multi_zuone[winner.zuone_author_name] | filter:query2" style="margin-top:8px;padding-left:270px;">
                  <span>其他作品:<a target="_blank" href="{{other_zuone.zuone_url}}"><img width="50px" bn-lazy-src="{{other_zuone.zuone_img}}"/></a></span>
                  <span><a target="_blank" href="{{other_zuone.zuone_url}}">{{other_zuone.zuone_name}}</a></span>
                  <span>票数:{{other_zuone.zuone_piao}}</span>
              </p>
          </li>
          <begriffs.pagination
            collection="winners"
            url="'/index/desc/'+desc+'/q/'+query" 
	    per-page=10>
          </begriffs.pagination>
        </ul>

      </div>
    </div>
</body>
</html>
