<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>长帝烘培节全部作品名单</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angular-loading-bar/loading-bar.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/jquery.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-loading-bar/loading-bar.min.js"></script>

  <script src="js/controllers2.js"></script>
    <style>
        .winner_list span{
            margin-right:30px;
        }
        .winner_list p {
            margin-top:10px;
            padding-left:270px;
        }
    </style>
</head>
    <body ng-controller="PhoneListCtrl">

  <div class="container-fluid">
    <div class="row">
        <!--Sidebar content
      <div class="col-md-2">
      </div>--> 
      <div class="col-md-10">
        <!--Body content-->
          排序:
        <select ng-model="orderProp">
          <option value="-zuone_piao">从多到少~</option>
          <option value="+zuone_piao">从少到多~</option>
        </select>&nbsp;&nbsp;
          看看有没我>_<:
		<input ng-model="query">(可输入昵称或作品名查询)
        <ul class="phones">
            <li ng-repeat="winner in winners |filter:query |orderBy:orderProp" class="winner_list">
            <span>{{winner.zuone_author_name}}</span>
            <span><a target="_blank" href="{{winner.zuone_url}}">{{winner.zuone_name}}</a></span>

                <p ng-repeat="other_zuone in multi_zuone[winner.zuone_author_name] | filter:query2" style="margin-top:8px;padding-left:270px;">
                    <span><a target="_blank" href="{{other_zuone.zuone_url}}">{{other_zuone.zuone_name}}</a></span>
                </p>
                
              <hr/>
          </li>
        </ul>

      </div>
    </div>
  </div>
